---
---

@import "{{ site.theme }}";

html, body {
  background: none;
  // font-family: 'Rubik', sans-serif;
  font-family: monospace;
  text-shadow: none;
  color: white;
  font-size: 1.1em;
}

header {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

header h1 {
  font-size: 700px;
  color: rgba(200, 255, 255, 0.4);
}

.outer {
  position: absolute;
  text-align: center;
  width: 100%;
}

#container {
  background: none;
  display: inline-block;
  text-align: left;
  top: 0px;
  left: 0px;
}

a {
  color: white;
  padding: 3px;
  text-decoration: underline;
}

a:hover {
  background-color: white;
  color: black;
}

h2 {
  color: white;
  font-size: 2em;
}
.inner {
  min-width: 460px;
  max-width: 1200px;
  width: 60%;
}

#main_content {
  padding: 40px;
  background-color: black;
}
