---
---

@import "{{ site.theme }}";

html, body {
  background: none;
  font-family: 'Rubik', sans-serif;
  text-shadow: none;
  color: white;
  font-size: 1.2em;
}

header {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

header h1 {
  font-size: 700px;
  color: rgba(200, 255, 255, 0.4);
}

.outer {
  position: absolute;
  text-align: center;
  width: 100%;
}

#container {
  background: none;
  display: inline-block;
  text-align: left;
  top: 0px;
  left: 0px;
}
